{{ partial "header.html" . -}}
<section class="home {{ print .Kind "-bg" }}">
{{- if isset .Site.Taxonomies.tags "featured" }}
{{- $featured := index .Site.Taxonomies.tags.featured 0 }}
<div class="home-featured">
  <a href="{{ $featured.Permalink }}"><h1 class="featured-title">{{ $featured.Title }}</h1></a>
{{ partial "medialink.html" $featured }}
  {{ with $featured.Params.description }}<p class="description">{{ print . " " }}<a class="morelink" href="{{ $featured.Permalink }}">>></a></p>{{ end }}
  <ul class="tags">
    {{- range $featured.Params.tags }}
    <li class="tag-link"><a href="{{ "/tags/" | relURL }}{{ . | urlize }}">{{ . }}</a></li>
    {{- end }}
    <span class="meta">{{ $featured.PublishDate.Format "Jan 2, 2006" -}}</span>
  </ul>
</div>
<div class="recent-two">
  {{- range $index, $recent := first 2 (where (where .Data.Pages ".Section" "posts") ".Title" "!=" $featured.Title) }}
<div class="recent-items">
{{- partial "listItems.html" . -}}
</div>
{{- end }}
</div>
{{- else }}
  {{- range $index, $recent := first 1 (where .Data.Pages ".Section" "posts") }}
<div class="home-featured">
  {{- partial "listItems.html" . -}}
</div>
  {{- end }}
<div class="recent-two">
    {{- range $index, $recent := first 3 (where .Data.Pages ".Section" "posts") }}
      {{- if gt $index 0 }}
      <div class="recent-items">
      {{- partial "listItems.html" . -}}
      </div>
      {{- end }}
    {{- end }}
  </div>
{{- end }}
</section>
{{ partial "footer.html" . }}
