html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Roboto Slab";
  font-size: 1em;
  line-height: 1.6;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  font-family: inherit;
  font-weight: normal;
}

html, body {
  width: 100vw;
  height: 100vh;
}

body, .html, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #89bfa6;
}

body {
  display: block;
  padding-left: 0;
  padding-right: calc(100vw - 100%);
  overflow-x: hidden;
  background-color: #262626;
}

h1, h2 {
  line-height: 1.1;
  padding-bottom: .4em;
  margin-bottom: .25em;
}

h1 {
  font-size: 2em;
  color: #89bfa6;
}

.page h1, .list h1 {
  border-bottom: solid 1px #324a3f;
}

h2 {
  font-size: 1.5em;
}

.listcontainer h2 {
  margin-top: 2.5rem;
}

.home h2 {
  margin-top: 1.5rem;
}

*:link, *:visited {
  text-decoration: none;
  color: silver;
}

*::-moz-selection {
  background: #badacb;
  color: #191919;
}

*::selection {
  background: #badacb;
  color: #191919;
}

*::-moz-selection {
  background: #badacb;
  color: #191919;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  position: inherit;
  top: inherit;
  left: inherit;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  height: 7.5rem;
  width: 100vw;
  background-color: #111e18;
  border: solid 1px #324a3f;
  border-width: 0 0 1px 0;
  overflow: hidden;
}

.millzologo {
  width: 8rem;
  height: 4.968rem;
  margin: 1.5rem 0 1rem 5vw;
  overflow: visible;
  -webkit-box-ordinal-group: initial;
  -ms-flex-order: initial;
  order: initial;
}

.millzologofill {
  fill: #89bfa6;
  -webkit-transition: 1s;
  transition: 1s;
}

.millzolink {
  z-index: 100;
}

.globe-stroke {
  fill: none;
  stroke: #89bfa6;
}

.millzologo:hover {
  -webkit-transition: 1.25s;
  transition: 1.25s;
}

.millzologo:hover .millzologofill {
  fill: #0DEE88;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-ordinal-group: initial;
  -ms-flex-order: initial;
  order: initial;
  width: calc(12em + 5vw);
  height: 6.5rem;
  padding: .2rem .5rem .2rem .5rem;
}

.about-icon, .posts-icon, .contact-icon {
  height: 1.75em;
  width: 1.75em;
  display: block;
  margin: auto;
}

.about-icon {
  height: 2.25em;
  -webkit-transform: rotateZ(22deg);
  transform: rotateZ(22deg);
}

.posts-icon {
  -webkit-transform: rotateZ(9deg);
  transform: rotateZ(9deg);
}

.contact-icon {
  -webkit-transform: rotateZ(-25deg);
  transform: rotateZ(-25deg);
}

.navlink {
  padding: 0 .5em 0 .5em;
  margin-top: .25rem;
  font-size: .85rem;
}

.navlink:link, .navlink:visited {
  -webkit-transition: 1.25s;
  transition: 1.25s;
  color: silver;
  stroke: silver;
  fill: silver;
}

.navlink:hover {
  -webkit-transition: .25s;
  transition: .25s;
  color: #f0f0db;
  fill: #f0f0db;
  stroke: #f0f0db;
  opacity: 1;
}

.navlink-current:link, .navlink-current:visited {
  color: #e0e0b8;
  fill: #e0e0b8;
  stroke: #e0e0b8;
}

#about-link {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

#posts-link {
  -ms-flex-item-align: center;
  align-self: center;
}

.home, .container, .listcontainer {
  min-height: calc(100vh - 14rem);
  width: 100%;
  display: block;
  padding: 2.5rem 10% 5rem 10%;
  opacity: .999;
}

.listcontainer {
  min-height: calc(100vh - 17rem);
}

.post, .page, .list {
  width: 100%;
  margin: 0 auto 0 auto;
  max-width: 50rem;
}

.post-copy, .single-copy {
  padding: .5rem 0 .5rem 0;
  padding: 0;
  min-height: 100%;
  color: #a6a6a6;
}

.post-copy {
  border-bottom: solid 1px #324a3f;
}

.home-featured {
  display: block;
  width: 100%;
  max-width: 50rem;
  margin: 0 auto 0 auto;
}

.img-home-feature, .list-img {
  border: solid 1px #324a3f;
  border-radius: .3em .3em 0 0;
}

img, video {
  display: block;
  width: 100%;
  height: auto;
  margin: auto;
}

.description {
  padding: 1rem .5rem 1rem .5rem;
  border: solid 1px #324a3f;
  border-top: none;
  color: #a6a6a6;
  background-color: #333333;
}

.recent-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 50rem;
  margin: auto;
}

.recent-items {
  display: block;
  width: 100%;
}

.recent-items .description {
  display: none;
}

.list-item {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 50rem;
  margin: 0 auto 0 auto;
}

.tube-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.tube-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

ol, ul {
  font-size: .8rem;
  padding-left: 1em;
}

ol li {
  padding-bottom: .8em;
}

.list-title:hover, .featured-title:hover {
  color: #0DEE88;
}

.tags {
  position: relative;
  font-size: .6em;
  padding: 0;
  margin: 0;
  background-color: #324a3f;
  border: solid 1px #324a3f;
  border-top: none;
}

.tag-link, .meta {
  display: inline;
  margin: 0 .25em 0 0;
  text-decoration: none;
}

.tag-link a, .meta a {
  background-color: #89bfa6;
  padding: .15em .5em .15em .5em;
  color: #191919;
}

.tag-link a:hover, .meta a:hover {
  color: #191919;
  background-color: #0DEE88;
}

.meta {
  float: right;
  background-color: #89bfa6;
  padding: 0 .5em 0 .5em;
  margin: 0;
}

.pagination {
  display: block;
  text-align: center;
  padding: .75em 0 0 0;
  height: 3rem;
  margin: auto;
}

.pagination li {
  display: inline;
  list-style: none;
  padding: .5em;
}

.pagination a {
  color: #89bfa6;
}

.pagination a:hover {
  color: #badacb;
}

.disabled a {
  color: #191919;
}

.active a {
  color: #0DEE88;
}

.film-gallery, .tv-gallery, .special-gallery, .clients-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
}

.project-heading {
  margin: 2.25rem 0 1.5rem 0;
  padding-bottom: .25rem;
  color: #89bfa6;
  border-bottom: solid 1px #324a3f;
}

.film-img, .tv-img {
  display: block;
  width: 20%;
  height: auto;
  margin: 0;
}

.special-img {
  width: 25%;
  background-color: white;
  padding: .5rem;
  margin: 0;
}

.clients-img, .tools-img {
  display: block;
  -ms-flex-item-align: center;
  align-self: center;
  width: 6rem;
  height: 100%;
  margin: 0 1rem 0 1rem;
}

.tools-img {
  width: 4rem;
}

.contact-form {
  margin: 2.5rem 0 2rem 0;
  width: 100%;
}

.input-field {
  background-color: silver;
  border-style: none;
  width: 100%;
}

footer {
  text-align: center;
  width: 100%;
  color: #89bfa6;
  opacity: .999;
}

footer h6 {
  margin: auto;
  max-width: 50rem;
}

.twitter-logo, .linkedin-logo, .facebook-logo {
  height: 1.5rem;
  padding: 0 .5rem 0 .5rem;
}

.linkedin-logo {
  padding-right: .3rem;
}

.social-footer {
  display: block;
  width: 100%;
  margin: auto;
  height: 2rem;
  padding-top: .25rem;
}

.main-footer {
  padding: .75em 10% .75em 10%;
  height: 3rem;
}

@media (min-width: 640px) {
  html {
    font-size: 1.05em;
  }
  .millzologo {
    width: 9rem;
    height: 5.589rem;
  }
  .about-icon, .posts-icon, .contact-icon {
    height: 1.75em;
    width: 1.75em;
  }
  .about-icon {
    height: 2.25em;
  }
  .recent-two {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .recent-items {
    width: 49%;
    font-size: .8rem;
  }
  .recent-items h2 {
    font-size: 1.25em;
  }
}

@media (min-width: 900px) {
  html {
    font-size: 1.1em;
  }
  body {
    padding-left: 30vw;
  }
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: initial;
    -ms-flex-pack: initial;
    justify-content: initial;
    height: 100vh;
    width: 30vw;
    border-width: 0 1px 0 0;
  }
  .millzologo {
    width: 13vw;
    height: auto;
    margin: 5vh 0 0 0;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    min-width: 8rem;
    max-width: 12rem;
  }
  nav {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    width: 28vw;
    max-width: 28rem;
    height: 5.5rem;
    padding: 0 .5em 0 .5em;
  }
  .about-icon, .posts-icon, .contact-icon {
    height: 2.25em;
    width: 2.25em;
  }
  .about-icon {
    height: 2.75em;
  }
  .navlink {
    padding: 0 .5em 0 .5em;
    margin-top: 2rem;
    font-size: .75rem;
  }
  #about-link {
    -ms-flex-item-align: end;
    align-self: flex-end;
  }
  #posts-link {
    -ms-flex-item-align: start;
    align-self: flex-start;
  }
  .home, .container, .listcontainer {
    min-height: calc(100vh - 3rem);
    padding: 4.5rem 10% 2rem 10%;
  }
  .listcontainer {
    min-height: calc(100vh - 6rem);
  }
  .twitter-logo, .linkedin-logo, .facebook-logo {
    height: 1.25rem;
    padding: 0 .5rem 0 .5rem;
  }
  .social-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 0 4rem 0 4rem;
    position: fixed;
    width: 30vw;
    left: 0;
    bottom: 1rem;
  }
  footer {
    padding: .75em 12% .75em 12%;
  }
}

@media (min-width: 1500px) {
  html {
    font-size: 1.15em;
  }
  .navlink {
    font-size: .85rem;
  }
}

@media (min-width: 2500px) {
  html {
    font-size: 1.5em;
  }
}
