<!DOCTYPE html>
<html>
<head>
{{ partial "meta.html" . -}}
{{- if .IsHome -}}
  <title>{{ .Site.Title }}</title>
{{- else -}}
  <title>{{ .Site.Title }} / {{ .Title }}</title>
{{- end }}
  <link rel="canonical" href="{{ .Permalink }}">
  <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/millzo.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab">
</head>
<body class="{{ with .Params.type }}{{ print . "-bg" }}{{ else }}{{ print .Kind "-bg" }}{{ end }} bgnoise bgvignette">
<header>
  {{- partial "millzo2d.html" . -}}
  {{- partial "nav.html" . -}}
</header>
