{{ $imgfeatured := .Params.featured_image }}
{{- if $imgfeatured -}}
    {{- if in $imgfeatured ".mp4" -}}
    <video class="img-home-feature" preload="none" controls>
      <source src="/img/{{ $imgfeatured }}" type="video/mp4">
    </video>
    {{- else if in $imgfeatured "youtube.com" -}}
    <div class="tube-container">
      <iframe src="{{ $imgfeatured }}" frameborder="0" allowfullscreen></iframe>
    </div>
    {{- else if in $imgfeatured "vimeo.com" -}}
    <div class="tube-container">
      <iframe src="{{ $imgfeatured }}?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    {{- else -}}
    {{- $imgwidth := int .Params.maximgwidth -}}
    <a href="{{ .Permalink }}">
      <img class="img-home-feature" srcset="{{- range $srci, $srcwidth := .Params.srcwidths -}}
                                              {{- if le (int $srcwidth) ($imgwidth) -}}
                                              {{- if $srci -}}{{- "," }} {{ end -}}
                                                {{ if eq (int $srcwidth) $imgwidth -}}
                                                {{- print "/img/" $imgfeatured }} {{ print $srcwidth "w" -}}
                                                {{ else }}
                                                {{- print "/img/" $srcwidth "-" $imgfeatured }} {{ print $srcwidth "w" -}}
                                                {{- end -}}
                                              {{ end }}
                                            {{- end -}}"
                                     sizes="100vw"
      src="/img/{{ $imgfeatured }}" alt="{{ .Title }}">
    </a>
    {{- end -}}
{{- end -}}
