{{ partial "header.html" . -}}
<div class="container">
<section class="page">
  <h1>{{ .Title }}</h1>
  <section class="single-copy">
{{ with .Params.featured_image }}<img class="about-feature" src="/img/{{ . }}" alt="{{ .Title}}">{{ end }}
{{- .Content -}}
  {{- range .Params.category -}}
  <h3 class="project-heading">{{ .heading }}</h3>
  <div class="{{ .class }}-gallery">
    {{- $imgclass := (print .class "-img") }}
    {{- range .images }}
    <img class="{{ $imgclass }}" src="/img/{{ . }}" alt="{{ . }}">
    {{- end }}
  </div>
  {{- end }}
</section>
</section>
</div>
{{- partial "footer.html" . -}}
